* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background-color: #FA8072;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

img {
    width: 300px;
    display: block;
    margin: 20px auto
}

h2{
font-style: normal;
font-weight: 400;
color: #ffffff;
font-size: medium;


margin-bottom: 10px;
}

input {
border-radius: 14px;
border: 1px;
width: 120px;
height: 28px;
padding-left: 5%;
background-color: #B22222;
color: #ffffff;
}

input::placeholder {
    color: #ffffff;
}

button{
height: 32px;
width: 100px;
margin-top: 20px;
border-radius: 12px;
background-color: #F0E68C;
border: none;
box-shadow: 2px 2px 5px;
cursor: pointer;
}

button:hover{
    opacity: 0.9;
}

button:active{
    opacity: 0.8;
}




